<body>
  <% if flash[:message] %>
  <h3><%= flash[:message]  %></h3>
  <% end %>
  <div>
    <h1> Household Info </h1>
  </div>
  <div class="house-residents-container">
    <h3><%= @user.first %>'s House:</h3>
    <%= form_for @house, {class: "add-resident-form"} do |f| %>
    <%= f.label :number_of_residents %>
    <%= f.number_field(:no_residents, options = {min: 1, max: 10, step: 1})%><br>
    <%= f.label "Total livable square feet" %>
    <%= f.text_field(:total_sq_ft, options = {size: 12, maxlength: 10, placeholder: "Number Only"}) %><br>
    <%= f.hidden_field :user_id, {:value => @user.id} %>
    <%= f.hidden_field :address_id, {:value => @address.id} %>
    <%= f.submit "Create Your CarbonCollective Account" %>
    <% end %>
  </div>
</body>
