
<h1> Hello <%= @user.first %> </h1>

<h3>Global Carbon Saved To Date: <%= @global %> lbs </h3>
<h4>Your Total Electricity Saved: <%= @user.total_electricity_savings_to_date %></h4>
<% @groups.map do |g| %>
<h5><%= g.name %> Collective Total: <%= g.group_collective_savings %></h5>
<% end %>
<h5 style="text-decoration:underline">Community Totals</h5>
<table>
  <tr>
    <th>Vicinity</th><th>Total Collective Savings</th>
  </tr>
  <tr>
    <td>Household Savings</td><td><%= @user.household_total_savings %></td>
  </tr>
  <tr>
    <td>Neighborhood</td><td><%= @user.neighborhood_total_savings %></td>
  </tr>
  <tr>
    <td>City</td><td><%= @user.city_total_savings %></td>
  </tr>
  <tr>
    <td>State</td><td><%= @user.region_total_savings %></td>
  </tr>
  <tr>
    <td>Country</td><td><%= @user.country_total_savings %></td>
  </tr>
</table>
