<body>
  <div class="electric-bills-header">
    <h1>Latest Electric Bill</h1>
  </div>
  <div class="bills-form-container">
    <%= form_for @electric_bill do |f| %>
    <%= f.label :start_date %>
    <%= f.date_field :start_date %>
    <%= f.label :end_date %>
    <%= f.date_field :end_date %>
    <%= f.hidden_field :user_id, {value: @user.id} %>
  </br>
  </br>
    <%= f.label :total_killowats %>
    <%= f.number_field :total_kwhs, options={placeholder: "How many killowatts did you use?"} %>
  </br>
  </br>
    <%= f.label :bill_cost %>
    <%= f.text_area :price, options={placeholder: "How much money did you spend on energy?"} %>
  </br>
  </br>

    <%= f.submit "Log This Month's Bill" %>
    <% end %>
  </div>
</body>
